<div class="card cardbg shadow-sm mb-4" [formGroup]="filterForm">
  <div class="card-body">
    <h5 class="fw-bold mb-3 text-light">Filtros</h5>

    <div class="mb-3">
      <label class="form-label text-light">Título</label>
      <input type="text" class="form-control" formControlName="titulo" placeholder="Buscar por Título...">
    </div>

    <div class="mb-3">
      <label class="form-label text-light">Autor</label>
      <input type="text" class="form-control" formControlName="autor" placeholder="Buscar por Autor...">
    </div>

    <div class="mb-3">
      <label class="form-label text-light">Categoría</label>
      <select class="form-select" formControlName="deweyId"> 
        <option [ngValue]="null">Categoria</option>
        <option *ngFor="let cat of deweyCategorias" [ngValue]="cat.idDewey">
          {{ cat.categoria }}
        </option>
      </select>
    </div>
    
    <div class="mb-3">
      <label class="form-label text-light">Disponibilidad</label>
      <select class="form-select" formControlName="estado">
        <option [ngValue]="null">Seleccionar</option>
        <option value="Disponible">Disponible</option>
        <option value="Reservado">Reservado</option>
        <option value="Prestado">Prestado</option>
        </select>
    </div>

    <div class="mb-3">
      <label class="form-label text-light">Editorial</label>
      <select class="form-select" formControlName="editorial">
        <option [ngValue]="null">Seleccionar</option>
        <option *ngFor="let editorial of editoriales" [ngValue]="editorial">
          {{ editorial }}
        </option>
      </select>
    </div>

  </div>
</div>