<div class="card cardbg shadow-sm mb-4" [formGroup]="filterForm">
  <div class="card-body">
    <h5 class="fw-bold mb-3 text-light">Filtros</h5>

    <div class="mb-3">
      <label class="form-label text-light">Título</label>
      <input type="text" class="form-control" formControlName="titulo" placeholder="Buscar por Título...">
    </div>

    <div class="mb-3">
      <label class="form-label text-light">Autor</label>
      <input type="text" class="form-control" formControlName="autor" placeholder="Buscar por Autor...">
    </div>

    <div class="mb-3">
      <label class="form-label text-light">Categoría</label>
      <select class="form-select" formControlName="palabraClaveId">
        <option [ngValue]="null">Categoria</option>
        <option *ngFor="let pc of palabrasClave" [ngValue]="pc.idPalabraClave">
          {{ pc.descripcion }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label text-light opacity-50">Disponibilidad</label>
      <select class="form-select" [disabled]="true">
        <option>Seleccionar</option>
      </select>
    </div>

    <div class="mb-3">
      <label class="form-label text-light opacity-50">Editorial</label>
      <select class="form-select" [disabled]="true">
        <option>Seleccionar</option>
      </select>
    </div>

    
  </div>
</div>