<footer class=" footer text-white py-4 mt-auto">
  <div class="container text-center text-md-start">
    <div class="row">
      <div class="col-md-4 mb-3">
        <img src="assets/logo-ceibos.png" alt="Logo" width="100" class="logoCeibos" />
      </div>

      <div class="col-md-4 mb-3">
        <h6 class="fw-bold">Información para usuarios</h6>
        <p class="small mb-0">Política de privacidad<br />Términos y condiciones</p>
      </div>

      <div class="col-md-4 mb-3 text-center text-md-end">
        <h6 class="fw-bold">Contáctanos</h6>
        <p class="small mb-0">Av. Blas Roca 344, San Sebastián, Chiclayo</p>
        <div class="d-flex justify-content-center justify-content-md-end gap-2 mt-2">
          <a href="#" class="text-white"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
          <a href="#" class="text-white"><i class="bi bi-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
