<footer class="ceibos-footer text-white mt-auto pt-5 pb-3">
  <div class="container">

    <div class="row align-items-start">
      
      <div class="col-md-3 mb-4 text-center text-md-start">
        <img src="assets/logo-ceibos.png" class="footer-logo mb-2" alt="Logo Ceibos">
      </div>

      <div class="col-md-3 mb-4">
        <h6 class="fw-bold mb-2 text-uppercase small">Información para usuarios</h6>
        <ul class="list-unstyled small">
          <li>Home</li>
          <li>Principios Institucionales</li>
          <li>Lineamientos</li>
          <li>Política de Privacidad</li>
        </ul>
      </div>

      <div class="col-md-3 mb-4">
        <h6 class="fw-bold mb-2 text-uppercase small">Contáctanos</h6>
        <ul class="list-unstyled small">
          <li><i class="bi bi-geo-alt-fill me-1"></i> Av. Bolognesi s/n – Urb. Santuario, Chiclayo</li>
          <li><i class="bi bi-envelope-fill me-1"></i> informes@ceibos.edu.pe</li>
          <li><i class="bi bi-telephone-fill me-1"></i> 979 343 130</li>
        </ul>
      </div>
      <div class="col-md-3 mb-4 text-center text-md-start">
        <h6 class="fw-bold mb-2 text-uppercase small">Síguenos</h6>

        <div class="d-flex gap-3 mt-2">
          <a href="https://www.facebook.com/colegioceibos/?locale=es_LA" class="social-icon"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/colegioceibos/" class="social-icon"><i class="bi bi-instagram"></i></a>
          <a href="https://www.youtube.com/@colegioceibos8204" class="social-icon"><i class="bi bi-youtube"></i></a>
          <a href="#" class="social-icon"><i class="bi bi-whatsapp"></i></a>
        </div>
      </div>

    </div>

    <hr class="footer-divider">

    <p class="text-center small mt-3 mb-0">Colegio Ceibos. Todos los derechos reservados 2025</p>

  </div>
</footer>
