<div class="top-bar">
  <div class="container d-flex justify-content-start">
    <span class="top-bar-text me-3">
      <i class="bi bi-telephone-fill me-1"></i> +51 979 343 130
    </span>
    <span class="top-bar-text">
      <i class="bi bi-telephone-fill me-1"></i> +51 979 343 136
    </span>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-3">
  <div class="container d-flex align-items-center"> 
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="assets/logo-ceibos.png" alt="Logo" class="logoCeibos me-2" />
    </a>
    
    <div class="ms-auto d-flex align-items-center gap-3">
      
      <span *ngIf="isLoggedIn && !isAdmin && userName" class="fw-bold text-secondary me-2 d-none d-md-block">
        <i class="bi bi-person-fill me-1"></i>{{ userName }}
      </span>

      <button *ngIf="isLoggedIn && !isAdmin" class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#historialOffcanvas" (click)="cargarHistorial()">
        <i class="bi bi-book-fill"></i> Mis Acciones
      </button>
      
      <button *ngIf="!isAdmin" class="btn btn-custom-logout" (click)="logout()">
        {{ isLoggedIn ? 'Cerrar Sesión' : 'Regresar' }}
      </button>

      <button *ngIf="isAdmin" class="btn btn-custom-logout" (click)="irAlPanel()">
        <i class="bi bi-arrow-left-circle me-2"></i> Regresar a Panel
      </button>

    </div>
  </div>
</nav>

<div class="banner" [class.full-screen]="!isLoggedIn || showWelcome">
  <img src="assets/portada-biblioteca.png" class="img-fluid" alt="Portada" />
</div>