.banner img {
  max-height: 400px;
  object-fit: cover;
  width: 100%;
}

.logoCeibos {
  width: 160px;      
  max-width: 220px;   
  height: auto;
}

.top-bar {
  background-color: #2B4D92;
  color: white;
  padding: 2px 0;              
  font-size: 0.75rem;          
  border-bottom: 2px solid #1e3360;  
}

.top-bar-text {
  display: flex;
  align-items: center;
}

.btn-custom-logout {
  background-color: #2B4D92;
  color: white;
  border-color: #2B4D92;
}

.btn-custom-logout:hover {
  background-color: #24417a;
  border-color: #24417a;
  color: white;
}
