.banner {
  width: 100%;
  overflow: hidden; 
  transition: all 1.5s cubic-bezier(0.25, 1, 0.5, 1); 
  max-height: 0; 
  opacity: 0;
}

.banner img {
  width: 100%;
  object-fit: cover;
  height: 85vh; 
}

.banner.full-screen {
  max-height: 85vh; 
  opacity: 1;
}

.logoCeibos {
  width: 160px;      
  max-width: 220px;   
  height: auto;
}

.top-bar {
  background-color: #2B4D92;
  color: white;
  padding: 2px 0;              
  font-size: 0.75rem;          
  border-bottom: 2px solid #1e3360;  
}

.top-bar-text {
  display: flex;
  align-items: center;
}

.btn-custom-logout {
  background-color: #2B4D92;
  color: white;
  border-color: #2B4D92;
}

.btn-custom-logout:hover {
  background-color: #24417a;
  border-color: #24417a;
  color: white;
}