
body, html {
  height: 100%;
  margin: 0;
}

.object-fit-cover {
  object-fit: cover;
}

form a:hover {
  text-decoration: underline;
}
.logoCeibos {
  width: 180px;      
  max-width: 220px;   
  height: auto;
}

.col-md-7 img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  filter: brightness(0.85);
  transition: transform 0.8s ease;
}

.col-md-7 img:hover {
  transform: scale(1.05);
}

.bg-white {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767.98px) {
  .vh-100 {
    height: auto !important;
  }

  .col-12 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff; 
  }

  .col-md-7 {
    display: none !important;
  }
}

.btn-custom-login {
  background-color: #2B4D92;
  color: white;
  border-color: #2B4D92;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.btn-custom-login:hover {
  background-color: #24417a; 
  border-color: #24417a;
  color: white;
}
