.nav-link {
  font-size: 1.1rem;
  transition: background 0.3s;
}
.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.sidebar {
  min-width: 220px;
  height: 100vh;
  background: #2B4D92;
}

@media (max-width: 768px) {
  .sidebar {
    z-index: 1050;
    height: auto;
    width: 100%;
  }
}
.active {
  background-color: #343a40;
  border-radius: 8px;
}